.header{
    width: 100%;
    background: orange;
    height: 150px;


}
.left-section{
    width: 20%;
    float: left;
    height: 400px;
    background: red;
}
.right-section{
    width: 80%;
    float: left;
    height: 400px;
    background: rgb(169, 32, 187);
}

.footer{
    width: 100%;
    background: rgb(48, 10, 109);
    height: 150px;
}
.content{
    height: 400px;

}
body{
    margin: 0;
}