.calc{
    width: 400px;
    height: 600px;
    background: green;
    margin-left: 400px;
}
#screen{
    
        width: 80%;
        margin-left: 34px;
        height: 35px;
        margin-top: 23px;
        pointer-events: none;
    
    
}
.btn{
    width: 30px;
    height: 30px;
            margin-left: 36px;
        margin-top: 43px;
    
    
}